<!DOCTYPE html>
<html>
<head>
  <title>Finanzierung</title>
</head>
<body>
<p>
<b>Was f&uuml;r Finanzierungsm&ouml;glichkeiten gibt es?</b> <br>

Das International Office der HTW Berlin bietet Beratungen zu F&ouml;rderm&ouml;glichkeiten von Auslandspraktika. Bitte nutzt fr&uuml;hzeitig diese M&ouml;glichkeit und informiert Euch &uuml;ber Programme und Fristen.<br>
</p>

<p>
<b>Stipendien</b><br>
F&ouml;rderung f&uuml;r Praktika innerhalb Europas: <br>
<a href="http://www.htw-berlin.de/internationales/auslandspraktika/daad/erasmus/"> http://www.htw-berlin.de/internationales/auslandspraktika/daad/erasmus/ </a> <br>
</p>

<p>
<b>Auslandsbaf&ouml;g</b><br>
<a href="http://www.auslandsbafoeg.de/"> http://www.auslandsbafoeg.de/ </a> <br>
Auslands-BAf&ouml;G ist die tolle finanzielle F&ouml;rderung von Vater Staat f&uuml;r ein ganzes Studium, Teilstudium Praktikum oder ein Sch&uuml;leraustausch im europ&auml;ischen und außereurop&auml;ischen Ausland! Bekommt ihr Inlands-BAf&ouml;G, bekommt ihr sicher(!) Auslands-BAf&ouml;G, bekommt ihr kein Inlands-BAf&ouml;G, k&ouml;nnt ihr trotzdem Auslands-BAf&ouml;G bekommen! Durch die h&ouml;heren Kosten im Ausland kommt f&uuml;r viel mehr von euch eine staatliche F&ouml;rderung in Frage. 
</p>

</body>
</html>