<!DOCTYPE html>
<html>
<head>
  <title>Finanzierung</title>
</head>
<body>
<p>
<b>Was für Finanzierungsmöglichkeiten gibt es?</b> <br>

Das International Office der HTW Berlin bietet Beratungen zu Fördermöglichkeiten von Auslandspraktika. Bitte nutzt frühzeitig diese Möglichkeit und informiert Euch über Programme und Fristen.<br>

Stipendien<br>
o Förderung für Praktika innerhalb Europas: <br>
http://www.htw-berlin.de/internationales/auslandspraktika/daad/erasmus/<br>

Auslandsbafög<br>
http://www.auslandsbafoeg.de/<br>
Auslands-BAföG ist die tolle finanzielle Förderung von Vater Staat für ein ganzes Studium, Teilstudium Praktikum oder ein Schüleraustausch im europäischen und außereuropäischen Ausland! Bekommt ihr Inlands-BAföG, bekommt ihr sicher(!) Auslands-BAföG, bekommt ihr kein Inlands-BAföG, könnt ihr trotzdem Auslands-BAföG bekommen! Durch die höheren Kosten im Ausland kommt für viel mehr von euch eine staatliche Förderung in Frage. 

</p>
</body>
</html>