<!DOCTYPE html>
<html>
<head>
  <title>Download</title>
</head>
<body>
<p>
<b>Hier k&ouml;nnt Ihr alle wichtigen Dokumente die ihr im Rahmen des Praktikums benötigt herunterladen:</b><br>
</p>
<p>
Formulare:<br>
Praktikumsantrag (<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-B-en.pdf"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2011/10/Antrag-Praktikum-IMI-Bc.pdf"> deut. </a>)<br>
Praktikumsnachweis (<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B-en.pdf"> eng. </a>/<a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B.pdf"> deut. </a>)<br>
Praktikumsvertrag HTW Beispiel: <a href="http://imi.htw-berlin.de/wp-content/uploads/2010/10/Nachweis-Praktikum-IMI-B-en.pdf"> Vorlage </a> <br>
</p>
</body>
</html>