body {
  

}

h1{
  color: red;
  margin-left: 450px;
  font-size: 40px;
  font-family: "sans-serif", Arial;

}

.logo img{
  position: absolute;
  margin-top: -90px;
  margin-left: 300px;
  z-index: 200;
}

.background {
  background-color : #1b1b1b;
  width: 100%;
  height: 125px;
  margin-top: -40px;
  margin-left: -10px;
  padding-right: 100px;
}

.dialog {
margin-top: -20px;
 margin-left: 450px;
 font-family: "sans-serif", Arial;
 font-size: 25px;
 color: red;

}