<style type="text/css">
.navbar{
  display: none;
}
footer{
  display: none;
}
</style>
<div class="sign_up_field">
<h2> <%= t "users.logintitle" %> </h2>
<%= render :partial => 'creation_form' %>
</div>