<div class="sign_up_field">
<h2> Please log in with your laboratory account <a href="#"><i class="icon-info-sign"></i></a></h2>
<div id="popup" class="info_signup"><b>Was ist ein Laboraccount?</b> </br> Den Laboraccount hast du im 1. Semester vom Rechenzentrum bekommen. Diesen benutzt ihr auch, um euch in der HTW an den Rechnern anzumelden.</div>
<%= render :partial => 'creation_form' %>
</div>