<style type="text/css">
body{
  background: #333;
}
.navbar{
  display: none;
}
footer{
  display: none;  
}
.sign_up_field{
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 0px 10px 25px 10px;  
  border-radius: 5px 5px 5px 5px;
  width: 400px;
  left: 50%;
  position: absolute;
  margin-left: -200px;
  text-align: center;
}

#verify{
  display: block;
  margin-left: 176px;
}

h2{
  color: #000;
}
.info_signup{
  position: absolute;
  width: 250px;
  height: auto;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  z-index: 2;
  background: none repeat scroll 0% 0% rgb(144, 184, 0);
  border-radius: 0px 5px 5px 5px;
  margin-left: 356px;
  margin-top: -25px;
}

.icon-info-sign{
  z-index: 5 !important;
}

</style>
<div class="sign_up_field">
<h2> Please log in with your laboratory account <a href="#"><i class="icon-info-sign"></i></a></h2>
<div id="popup" class="info_signup"><b>Was ist ein Laboraccount?</b> </br> Den Laboraccount hast du im 1. Semester vom Rechenzentrum bekommen. Diesen benutzt ihr auch, um euch in der HTW an den Rechnern anzumelden.</div>
<%= render :partial => 'form' %>
</div>