<img src="images/logo5.png" width="271" height="272" alt="LOGO">
<h1><b>404-Error</h1></b>
  <div class="dialog">
    <p>The page you were looking for doesn't exist.<br>
    You may have mistyped the address or the page may have moved.</p>
    <%= link_to :back, "Back" %>
  </div>