<div style="position: absolute; top:16%; left: 37%; text-align:-moz-center;">
<div class="logo404"></div>
<h1><b>404-Error</h1></b>
  <div class="dialog">
    <p><%= t("error.message").html_safe %></p>
    <a href ="javascript:history.back()" class="btn btn-success"> <%= t("buttons.back") %></a>
  </div>
</div>