<div style="position: absolute; top:16%; left: 37%; text-align:-moz-center;">
<div class="logo404"></div>
<h1><b>404-Error</h1></b>
  <div class="dialog">
    <p>The page you were looking for doesn't exist.<br>
    You may have mistyped the address or the page may have moved.</p>
    <%= link_to :back, "Back" %>
  </div>
</div>