<div style="position: center; top:16%; left: 37%; text-align:-moz-center; text-align: center; margin-top: 53px; ">
  <style> 
    .logo404{
      margin-left: 320px;
    }

  </style>
<div class="logo404"></div>
<h1><b>404-Error</h1></b>
  <div class="dialog">
    <p><%= t("error.message").html_safe %></p>
    <a href ="javascript:history.back()" class="btn btn-success"> <%= t("buttons.back") %></a>
  </div>
</div>