<h2> <%= t "users.show.favorites_title"%> </h2>
<% @favorites.each do |favorite| %>
<%= link_to "#{favorite.internship.title} at #{favorite.internship.company.name}", favorite.internship, class: "btn btn-success" %>

  <div class="field">
    <%= f.check_box :comparebox %>
  </div>

<%= link_to (t "buttons.destroy"), favorite, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</p>
<%end%>