<!DOCTYPE html>
<html>
<head>
  <title>FAQ</title>
</head>
<body>
<p>
  <b>Kann ich mein Praktikum in mehreren Abschnitten absolvieren?</b><br>
  Es ist möglich, das Praktikum in drei Abschnitte (Dauer: mindestens vier Wochen) zu unterteilen. Für jeden Teilabschnitt muss ein separater Bericht angefertigt werden.<br>
</p>
<p>
  <b>Wann sind die Praktikumsberichte fällig?</b><br>
  Spätestens vier Wochen nach Abschluss des Praktikums. Der Bericht sollte ca. 20 Seiten umfassen und geheftet sein (keine losen Blattsammlungen). Bitte bei dem oder der Praktikumsbeauftragten einreichen.<br>
</p>
<p>
  <b>Wo melde ich mich für die praktikumsbegleitenden Lehrveranstaltungen an?</b><br>
  In LSF. Beachte, dass die Kurse immer in den vorlesungsfreien Zeiten angeboten werden. Bis auf AEP können sie auch vor dem Praktikum belegt werden.
</p>
</body>
</html>