// Place all the styles related to the financing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'font-awesome';
.table td{
    border-top: none !important;
}

.table_fin{
  background: #333333;
  color: white;
}
#table_topi{
  position: absolute;
  background:  #ffffff;
  height: 64px;
  width: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

h1 {
  text-transform: none;
  color: #77b900 !important;
  line-height: 40px;
  text-shadow: none;
}

.eingerueckt{
  padding-left:50px;
  padding-rigth:50px
}