.map_container {
  margin-top: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 100%;
  z-index: 100;
}

.gmaps4rails_map {
  width:  100%;
  height: 600px;
  z-index: 100;
}


.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

#gmaps4rails_map-intern {
  width: 108px;
  height: 248px;
}

.map-frontc {
  width: 100%;
  z-index: 3;
  position: fixed;
}

#map2 {
  width:  100%;
  height: 1200px;
  z-index: 3;
}

.map-intern {
  position: relative;
  width: 310px;
  z-index: 3;
  margin-top: -5px;
}

#map3 {
  width:  310px;
  height: 220px;
  z-index: 3;
  margin-left: 5px;
}