// Place all the styles related to the Internships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'font-awesome';


.rating {
  margin: auto 0;
}

.rating_star {
  background: url('images/star.gif') 0 0;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

.on {
  background-position: 0 16px;
}

.comment{
  background: #dddddf;
  padding: 5px;
  border-radius: 0px 0px 0px 0px;
}

.answer{
  background: #dddddf;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

.answer_2{
  background: #dddddf;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 40px;
}

.delete{
  margin-top: -37px;
  margin-right: 0px;
}

#user{
  font-weight: bold;
  background: #77b900;
  border-radius: 5px 5px 5px 5px;
  margin: -10px;
  padding: 10px;
  color: white;
}

#user_2{
  background: #bbe175;
  margin: -5px;
  padding: 5px 10px 5px 10px;
  color: black;
}

#user_3{
  font-weight: bold;
  background: #bbe175;
  margin: -5px;
  padding: 5px 10px 5px 10px;
  color: black;
  margin-top: -25px;
}

#sentence{
  background-color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 80px;
  margin-top: -20px;
  margin-bottom: -15px;
}

#sentence_2{
  background-color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 80px;
  margin-top: -25px;
  margin-bottom: -15px;
}

#sentence_3{
  background-color: #fff;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 80px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.label{
  margin-top: 10px;
}

.save_button{
  float: right;
  margin-top: -34px;
}

.table td{
  border-top: none !important;
}

.table_intern{
  background: #568501;
  color: white;
/*
  position: relative;
  width: 100%;
  padding: 6px 20px 6px 70px;
  margin: 30px 10px 10px -70px;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 2px 4px #888;
  -moz-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;*/
}

/*.table_intern:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
  margin-top: -470px;
  margin-left: 145px;
}*/

#table_top{
  position: absolute;
  background: url(table-top.png);
  height: 64px;
  width: 38px;
  margin-left: -38px;
  margin-top: 0px;
}

.table-rate{
  display: inline;
}

.company{
  width: 100px;
  height: 23px;
}

.programming_language{
  width: 170px;
}

.working_hours{
  width: 100px;
}

.living_costs{
  width: 100px;
}

.rating{
  width: 80px;
}

.recommend{
  width: 40px;
}

/*.button_intern{
  font-size: 0px;
  width: 30px;
  display: none;
}*/

.table_inside{
  background: #fff;
  font-size: 13px;
}

.table_inside ul, ol{
    margin: 0px 0px 0px 0px !important;    
}

.img_preview{
  border: 5px solid red;
}

#myModal{
  max-width: none !important;
}

.modal-body{
  max-height: none !important;
  text-align: center;
  img{
    height: 450px;
  }
}

.new_internship{
  position: absolute;
  top: 177px;
  margin-left: 1027px;
  background: #568501;
  padding: 10px;
  color: #fff;
}

#triangle_right { 
  width: 0; 
  height: 0; 
  border-top: 20px solid #568501; 
  border-left: 20px solid transparent; 
  border-bottom: 20px solid #568501; 
  position: absolute;
  top: 177px;
  margin-left: 1007px;
}

#triangle_left { 
  width: 0; 
  height: 0; 
  border-top: 20px solid #568501; 
  border-right: 20px solid transparent; 
  border-bottom: 20px solid #568501; 
  position: absolute;
  top: 177px;
  margin-left: 1150px;
}

.new_internship:hover{
  color: #000;
}

#wrapper {
    position: relative;
}

.ribbon {
  position: absolute;
  top: 15px;
}

/* ribbon style */

 .ribbon-wrapper {
  position: relative;
}
  .ribbon-front {
  background-color: #4f4f4f;  height: 40px;
  width: 285px;
  position: relative;
  left:-5px;
  z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #222121 transparent transparent;
}

  .ribbon-edge-topleft {
  top: -10px;
  border-width: 10px 10px 0 0;
}
  .ribbon-edge-bottomleft {
  border-width: 0 10px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
  left: 270px;
  border-color: transparent transparent transparent #222121;
}

  .ribbon-edge-topright {
  top: -10px;
  border-width: 10px 0 0 10px;
}
  .ribbon-edge-bottomright {
  border-width: 0 0 0px 10px;
}

  .ribbon-back-left {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 0px;
  height: 40px;
  background-color: #4f4f4f;  z-index: 0;
}

  .ribbon-back-right {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 0px;
  height: 40px;
  background-color: #393838;  z-index: 0;
}


