// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search_form{
  font-weight: bold;
}

h1{
  margin: 1em 0px 0.5em;
  font-variant: small-caps;
  color: #77b900 !important;
  line-height: 40px;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}