// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #333333;
  color:#fff;
  background: url(lines2.png);
} 

form{
    margin: 0 !important;
}

.login_center{
  display: inline-block;
  margin:0 auto;
  width: auto;
  z-index: 3; 
}

h3 p{
  color: #fff !important;
  font-weight: bold;
  font-size: 24px;
}

#font_session{
  color: #fff !important;
}

.login_top{
  margin-top: 20px;
  margin:0 auto;
  z-index: 3;  
}

.signin-icon{
  height: 20px;
  margin: 10px 20px 5px 10px;
  float: right;
  position: static;
  z-index: 7;
}

#email{
    padding: 5px;
    margin-top: 5px;
    margin-right: 40px;
    z-index: 3; 
}

#password{
    padding: 5px;
    margin-top: 5px;
    z-index: 3; 
}

#logo_w { 
    float: none;
    height: 130px;
    position: absolute;
    width: 130px;
    z-index: 5;
    margin-top: 5px;
    left: 100px;
}

#logo_p {
    float: none;
    height: 130px;
    position: absolute;
    width: 130px;
    z-index: 6;
    margin-top: 5px;
    left: 100px;
}

.tri-line {
  width:100%; 
  height: 20px; 
  background: url(triangle1.png); 
  background-repeat: repeat-x;
  position: absolute; 
  top: 79px;
  z-index: 4;
}

.tri-line2 {
  width:100%; 
  height: 20px; 
  background: url(triangle.png); 
  background-repeat: repeat-x;
  position: absolute; 
  bottom: 15px;
  z-index: 4;
}

.lost-pswd {
    color: #838383;
    float: right;
    height: 20px;
    position: relative;
    top: -25px;
    z-index: 7;
    margin-right: 55px;
}
.lost-pswd a:hover{
    color:#bddb78;
    text-decoration: none;
}

#change_color{
  color: #fff;
  margin-top: 0px;
}

.alert-info {
    background: rgba(185, 213, 100, .85) !important;
    border-color: rgba(185, 213, 100, .85) !important;
    color: #000 !important;
    position: absolute;
    width: 200px;
    margin-left: -125px;
    left: 50%;
    top: 0px;
    text-align: center;
}

.alert-danger, .alert-error {
    background-color: #C91212 !important;
    color: #FFFFFF !important;
    padding-bottom: 0 !important;
    padding-top: 12px !important;
    text-align: right;
}

.alert {
    padding: 8px 35px 8px 35px;
    text-shadow: none;
    background-color: rgb(252, 248, 227);
    border-radius: 0px 0px 4px 4px;
    color: rgb(192, 152, 83);
}

/* ################################################################ TABLET ################################################################ */
@media (min-width: 480px) and (max-width: 979px) { 
  
body{
  background: url(bg.gif);
  text-align: center;
  color: #000 !important;
}

a{
 color: rgb(139, 185, 0) !important; 
}

#logo_p{
  display: none !important;
}

#logo_w{
  display: none !important;
}

.login_center{
  display: block !important;
  float: none;
}

.login_top{
  top: 0px !important;
}

#font_session{
  margin: 0 auto;
  width: 220px;
  color: #000 !important;
  display: block;
}

#login-element{
  margin: 0 auto;
  float: none;
}

.sign_up{
  margin: 20px auto;
  float: none;
  width: 200px;
  font-style: italic;
}

.lost-pswd {
    color: #838383 !important;
    float: none;
    height: 20px;
    position: relative;
    top: 10px;
    z-index: 7;
    margin-right: 0px;
}

.lost-pswd a:hover{
    color:#bddb78;
    text-decoration: none;
}

#change_color {
    color: #000;
    margin-top: 0px;
}

.signin-icon {
  height: 20px;
  float: none;
  position: static;
  margin: 0px 0px -5px 10px;
}

#logo_res{
  position: absolute;
  background: url(logo.png);
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
  left: 50%;
  margin-left: -75px;
  margin-top: -100px;
}

.alert-info {
  background: rgba(185, 213, 100, .85);
  border-color: rgba(185, 213, 100, .85);
  color: #000 !important;
  position: absolute;
  width: 200px;
  margin-left: -125px;
  left: 50%;
  top: 0px;
}
}

/* ################################################################ MOBILE ################################################################ */
@media (max-width: 480px) {
  
body{
  background: url(bg.gif);
  text-align: center;
  color: #000 !important;
}

#logo_p{
  display: none !important;
}

#logo_w{
  display: none !important;
}

.map_container{
  display: none !important;
}

.login_top{
  top: 0px !important;
}

.login_center{
  float: none;
  display: block;
}

#font_session{
  margin: 0 auto;
  width: 220px;
  color: #000 !important;
}

#login-element{
  margin: 0 auto;
  float: none;
}

.sign_up{
  margin: 20px auto;
  float: none;
  width: 200px;
  height: 50px;
  font-style: italic;
}

#change_color{
  color: #000;
}

a{
  color: rgb(139, 185, 0) !important; 
}

.lost-pswd {
  color: #838383 !important;
  float: none;
  height: 20px;
  position: relative;
  top: 10px;
  z-index: 7;
  margin-right: 0px;
}

.lost-pswd a:hover{
  color:#bddb78;
  text-decoration: none;
}

.signin-icon {
  height: 20px;
  float: none;
  position: static;
  margin: 0px 0px -5px 10px;
}


#logo_res{
  position: absolute;
  background: url(logo.png);
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
  left: 50%;
  margin-left: -75px;
  margin-top: -100px;
}

.alert-info {
  background: rgba(185, 213, 100, .85);
  border-color: rgba(185, 213, 100, .85);
  color: #000 !important;
  position: absolute;
  width: 200px;
  margin-left: -125px;
  left: 50%;
  top: 0px;
}
}
