// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row{
  margin-top: 20px;
      margin:0 auto;
    float:none;
}

.login{
text-align:center;
}

#login-element{
  padding-bottom: 10px;
}

.span6{
    margin:0 auto;
    float:none;
}

#email{
  border-radius:5px 5px 5px 5px;
  padding: 5px;
  margin-top: 5px;
}

#password{
  border-radius:5px 5px 5px 5px;
  padding: 5px;
  margin-top: 5px;
}

#logo {
  background: url(logo4.png);
  background-size: 100%;
  width: 150px;
  height: 150px;
  margin:0 auto; 
  float:none;
}