body{
  background: url(../images/htw_bg.gif);
 }
 
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
	margin-top: 5px;
	font-size:18px;
	font-weight:bold;
}
.navbar .nav > li > a{
	color:#FFFFFF;
	text-shadow:none;
}
.navbar .nav > li > a:hover{
	color:#009933 !important;
}

.navbar-inner {
    text-align:center;
    background: url(../images/nav2.png);
}

.navbar .nav-top > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
	margin-left: 0px;
	font-size:14px;
	font-weight:bold;
	padding: 0px 10px 0px 10px;
	background-color:#fff;
	border-radius:0px 0px 5px 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.8;

}
.nav-top > li > a {
	color:#000;
	text-shadow:none;
}
.navbar .nav-top > li > a:hover{
	color:#009933;
}

.dropdown .dropdown-toggle {
	background-color:transparent !important;
	color:#FFF !important;
}

.dropdown-menu{
	font-size:16px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: white;
  background-color: #009933;
  background-image: none;
  filter: none;
}


