// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 481px) and (max-width: 979px) { 

body{
  font-family: 'Merriweather Sans', sans-serif;
}

/*.navbar{
  margin-left: -20px;
  margin-right: 20px;
}*/

.navbar-inner {
  border-radius: 0px 0px 0px 0px !important;
}

.map-shadow{
    height: 210px;
    margin-top: 0px;
    opacity: 0.9;
    position: inherit;
    width: 780px;
    background: url(content-shadow.png) no-repeat;
    background-size: 780px 210px;
    margin-top: -189px;
    margin-left: -27px;
}

.display_none{
  display: none !important;
}

footer{
  background: #333333;
  padding: 17px 0 18px 0;
  text-align: center;
  margin-top: 70px;
  bottom: 0;
  margin-bottom: -20px;
}


footer .container p{
  color: #a3a3a3 !important;
}

.pagination.imi a, .pagination.imi span {
  float: none !important;
}

.span12-2{
  float: none !important;
}

.chzn-container{
  width: 150px !important;
}

.table-container
{
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

}

