// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 481px) and (max-width: 979px) { 

body{
  font-family: 'Merriweather Sans', sans-serif;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a{
  color: #8bb900 !important;
}

.row{
  margin-left: 0px !important;
}

.navbar-inner {
  border-radius: 0px 0px 0px 0px !important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
  color: #c0b9b9 !important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover{
  color: #8bb900 !important;
}

.display_nonet{
  display: none;
}

.map-shadow{
  display: none;
}

#verify{
  position: relative;
  display: block;
  margin-left: 50%;
  left: -25px;
}

.im-footer{
  position: relative;
  width: 100%;
  bottom: 0px;
  padding: 10px 0px;
  background: #292929;
  color: #fff;
  display: block;
  margin-bottom: -20px;
}

.im-inner{
  width: 100%;
  overflow: hidden;
}

.im-items {
  float: right;
  width: 560px;
  text-align: left;
  margin-right: 20px;
  margin-top: 4px;
}

.footer-text{
  font-size: 10px;
  display: inline-block;
  margin-right: 5px;
}

.htw_logo{
  height: 60px;
  width: 104px;
  background: url(htw_logo.png);
  background-size: 104px 60px;
  display: inline-block;
  margin-right: 10px;
}

.imi_logo{
  height: 60px;
  width: 66px;
  background: url(imi_logo.png);
  background-size: 66px 60px;
  display: inline-block;
}

.pagination.imi a, .pagination.imi span {
  float: none !important;
}

.span12-2{
  float: none !important;
}

.chzn-container{
  width: 150px !important;
}

.table-container
{
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.search-table{
  background-color:#333333; 
  color:#e3e5e1;
}

.even_row {
    background-color: #cbc9c9;
}

.ui-slider-horizontal {
  width: 250px;
}

#form-block4{
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 100;
  margin-left: 30px !important;
  margin-top: 20px !important;
  padding: 10px 5px 30px 5px !important;
  margin-right: 30px !important;
  width: auto !important;
}

}

@media (min-width: 767px) and (max-width: 979px) {
#salary_text{
  margin-top: -15px !important;
}

#living_costs_text{
  margin-top: -26px !important;
}

.user_button{
  width: 200px !important;
  display: inline-block;
}

#field-titles2 {
  width: 275px !important;
  text-align: left;
}

#intern-title{
  margin-top: 4px;
  padding-bottom: 0px;
}

.comp-mob{
  background: #000;
  color: #fff !important;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.content-intern2 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn-intern{
  position: absolute;
  margin-left: -330px;
  margin-top: 0px;
}

}

@media (min-width: 481px) and (max-width: 767px) {
.ui-slider-horizontal {
  width: 150px;
  margin-left: 50%;
  left: -75px;
}

#salary_slider{
  margin-top: 10px;
}

#salary_text{
  margin-top: 13px;
}

#living_costs_slider{
  margin-top: 10px;
  margin-bottom: 10px;
}

#living_costs_text{
  margin-top: 13px;
}

.table_block{
  position: relative;
  display: block;
}

.start_block{
  width: auto !important;
  margin-left: 50%;
  left: -80px;
  display: block;
}

.btn-intern{
  display: none;
}

#intern-title{
  margin-top: 4px;
  padding-bottom: 0px;
}

#intern-box{
  margin-left: 0px;
}

.span8 > ul{
  margin-left: 50%;
  left: -31px;
  position: relative;
}

.comp-mob{
  background: #000;
  color: #fff !important;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.content-intern2 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

}

