// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'font-awesome';
@media (min-width: 980px) { 
body{
  font-family: 'Merriweather Sans', sans-serif;
  background: url(bg.gif);
  color: #000;
}

#compareModal {
  position:relative;
  margin-left: 0px;
  left:0;
  z-index:9000;
}

.bold {
  font-weight:bold !important;
}

.gap {
  display:none;
}

html, body{
    min-height: 100%;
    height: 100%;
}

a{
  color: #8bb900;
}

.brand{
  background: url(logo4.png) no-repeat;
  background-size: 100%;
  width: 100px;
  height: 122px;
  position: absolute;
  left: -580px;
}

.head-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 130px 1000px 0 246px;
  border-color: #333333 transparent transparent transparent;
  position: absolute;
}

.head-triangler {
width: 0px;
height: 0px;
border-style: solid;
border-width: 67px 0px 0 231px;
border-color: #7fba00 transparent transparent transparent;
  position: absolute;
}

.navbar {
  width: 100%;
  border-radius: 0px 0px 0px 0px !important;

}

.navbar .brand {
  margin-left: 50%;
  margin-top: 8px;
}

.navbar-inner {
  text-align:center;
  background: #292929 !important;
  height: 125px;
  float: none;
  font-weight: 100;
  border-radius: 0px 0px 0px 0px !important;
}

.nav-top > li > a {
  color:#000;
  text-shadow:none;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.navbar .nav.nav-top {
  color: #6b6b6b;
  margin-left: 50%;
  margin-top: 12px;
  left: -76px;
  width: 800px;
}

.navbar .nav.pull-right {
  float: none;
  margin-left: 50%;
  padding-left: 400px;
  width: 190px;
}

.navbar .nav.pull-right > li > a {
  float:left;
  display:inline; 
  vertical-align: top;
  margin-left: 2px;
  margin-top: -3px;
  font-size:12px;
  font-weight:bold;
  background-color:#77b900;
  color: #fff;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;    
  font-weight: 100;
                               /* nav right */
} 
.navbar .nav.pull-right > li > a:hover{
  color: #000;
}
.navbar .nav {
  margin-left: 70px;
}

.navbar .nav > li > a {
  color:#c3c8be;
  font-size: 19px;
  text-shadow:none;
  z-index: 1;
  margin-top: 30px;
}

.navbar .nav > li > a:hover {
  color:#77b900;
}


.top-bar
{
  background: url(topbar-over.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height:200px;
  top:0px;
  left:0px;
  position: absolute;
  z-index: 0;
}


.dropdown-menu{
  margin: 0 0 0;
    font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.dropdown .dropdown-toggle {
  background-color:transparent;
  color:#FFF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #000;
  background-color: #77b900;
  background-image: none;
  filter: none;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #77b900;
}
.navbar .btn-navbar{
    background-image: linear-gradient(to bottom, rgb(51, 51, 51), rgb(51, 51, 51));
    border-color: rgb(255, 255, 255);
    box-shadow: none;
    text-shadow: none;
}

.container-right {
  background-color: #333333;
  position: absolute;
  color: #ffffff;
  padding-top: 80px;
  width: 255px;
  top: 175px;
  font-weight: 300;
  margin-left: 871px;
  margin-top: 70px;
  -moz-box-shadow:      3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           3px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.container-right-text {
  padding: 10px;
}

.container-right-text p{
  color: white  !important;
}

.container-left p {
  color: #000000;
}

.container-left-text {
  padding: 15px 15px 0px 15px;
}

.content-intern {
  background-color: #ffffff;
  color: #000000;
}

.wrapper-shadow {

}

h1, h2{
  font-weight: 100;
  margin: 1em 0px 0.5em;
  font-variant: small-caps;
  color: #000 !important;
  line-height: 40px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

h3{
  font-size: 15px;
  font-weight: 100;
}

p {
  font-weight: 100;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
  overflow: hidden;
}

.wrapper > .container {
  padding-top: 0px;
}

footer{
  background: #292929;
  padding: 10px 0 0 0;
  text-align: center;
  margin-top: 100px;
  bottom: 0;
  margin-bottom: -20px;
}


footer .container p{
  color: #707070 !important;
}

.span9{
  margin-bottom: -40px !important;
}

.rating_star{
  display: inline-block;
}

.chzn-container .chzn-results .highlighted{ 
  background-color: #77b900;
  background-image: -webkit-linear-gradient(top, #77b900 20%, #538200 90%) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #77b900), color-stop(90%, #538200)) !important;
  background-image: -webkit-linear-gradient(top, #77b900 20%, #538200 90%) !important;
  background-image: -moz-linear-gradient(top, #77b900 20%, #538200 90%) !important;
  background-image: -o-linear-gradient(top, #77b900 20%, #538200 90%) !important;
  background-image: linear-gradient(#77b900 20%, #538200 90%) !important;
}

.chzn-container-active .chzn-choices{
  border: 1px solid #77b900 !important;
}

#glowing_border:focus { 
    outline: none;
    border: 1px solid #77b900;
    box-shadow: 0 0 5px #77b900;
}

#gradient{
    height: 70%;
    position: fixed;
    width: 100%;
    z-index: 0;

  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,100,0,0.25) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,100,0,0.25))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,100,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,100,0,0.25) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,100,0,0.25) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,100,0,0.25) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}


#login-box{
  background-color: #000000;
  height: 180px;
  padding-top:40px;
  position: inherit;
  width: 100%;
  margin-top:6%;
  z-index: 3;
  opacity: 0.78;
}

.span12{
    margin:0 auto;
    /*float:left;*/
    width: 100%;
    z-index: 3; 
}

.span12-2{
    margin:0 auto;
    width: 1140px;
    z-index: 3; 
}

p{
  color: #000 !important;
}

#loginbutton {
    height: 33px;
    border-radius: 0;
    position: inherit;
}

.active_nav{
  a{
    text-decoration: none;
    border-bottom: 1px solid #77b900;

    span{
      text-decoration: none;
      border-bottom: 1px solid #77b900;
      }
  }
}

.table-head {
  margin-top: 50px;
}

.search-table{
  background-color:#333333; 
  color:#e3e5e1;
}

.even_row {
    background-color: #cbc9c9;
}

.odd_row {

}

.map-shadow{
    height: 210px;
    margin-top: 0px;
    opacity: 0.9;
    position: inherit;
    width: 1258px;
    background: url(content-shadow.png) no-repeat;
    background-size: 1258px 210px;
    margin-top: -189px;
    margin-left: -43px;
}

.hand-pointer{
    background: url(handh.png);
    background-repeat: no-repeat;
    height: 60px;
    width: 43px;
    float: right;
}


.ribbon {
  position: absolute;
  top: 15px;
}

/* ribbon style */

 .ribbon-wrapper {
  position: relative;
}
  .ribbon-front {
  background-color: #4f4f4f;  height: 40px;
  width: 285px;
  position: relative;
  left:-5px;
  z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
  top: 40px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #222121 transparent transparent;
}

  .ribbon-edge-topleft {
  top: -10px;
  border-width: 10px 10px 0 0;
}
  .ribbon-edge-bottomleft {
  border-width: 0 10px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
  left: 270px;
  border-color: transparent transparent transparent #222121;
}

  .ribbon-edge-topright {
  top: -10px;
  border-width: 10px 0 0 10px;
}
  .ribbon-edge-bottomright {
  border-width: 0 0 0px 10px;
}

  .ribbon-back-left {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 0px;
  height: 40px;
  background-color: #4f4f4f;  z-index: 0;
}

  .ribbon-back-right {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 0px;
  height: 40px;
  background-color: #393838;  z-index: 0;
}
}

@media (min-width: 980px) and (max-width: 1199px) {

.brand{
  left: -480px;
}

.navbar .nav.pull-right {
  float: none;
  margin-left: 50%;
  padding-left: 290px;
  width: 190px;
}

.map-shadow{
    height: 210px;
    margin-top: 0px;
    opacity: 0.9;
    position: inherit;
    width: 1012px;
    background: url(content-shadow.png) no-repeat;
    background-size: 1012px 210px;
    margin-top: -189px;
    margin-left: -35px;
    z-index: -1;
}

.row{
  margin-left: -40px;
}

.chzn-container{
  width: 205px !important;
}


}
