// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'font-awesome';
@media (min-width: 979px) { 
body{
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 50px;
  color:#000000;
  background-color: #f7f7f7;
}

.brand{
  background: url(logo4.png) no-repeat;
  background-size: 100%;
  width: 90px;
  height: 115px;
  margin-top: 10px;
}
.navbar {
  width: 100%;
}
.navbar .brand {
  margin-left: 100px;
}
.navbar-inner {
  text-align:center;
  background: #333333 !important;
  height: 120px;
  float: none;
  font-weight: 100;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.nav-top > li > a {
  color:#000;
  text-shadow:none;
  font-size: 18px;
}

.navbar .nav.pull-right > li > a {
  float:left;
  display:inline; 
  vertical-align: top;
  margin-left: 3px;
  margin-top: -1px;
  font-size:14px;
  font-weight:bold;
  background-color:#77b900;
  color: #fff;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;    
  font-weight: 100;
                               /* nav right */
} 
.navbar .nav.pull-right > li > a:hover{
  color: #000;
}
.navbar .nav {
  margin-left: 70px;
}

.navbar .nav > li > a {
  color:#fff;
  text-shadow:none;
  z-index: 1;
  margin-top: 30px;
}

.navbar .nav > li > a:hover {
  color:#77b900;
}

.dropdown .dropdown-toggle {
  background-color:transparent;
  color:#FFF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #000;
  background-color: #77b900;
  background-image: none;
  filter: none;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #77b900;
}
.navbar .btn-navbar{
    background-image: linear-gradient(to bottom, rgb(51, 51, 51), rgb(51, 51, 51));
    border-color: rgb(255, 255, 255);
    box-shadow: none;
    text-shadow: none;
}

.container-right {
  background-color: #333333;
  position: absolute;
  color: #ffffff;
  padding-top: 80px;
  width: 255px;
  top: 175px;
  font-weight: 300;

  -moz-box-shadow:      3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   3px 3px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           3px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.container-right-text {
  padding: 10px;
}

.container-left p {
  color: #000000;
}

.container-left-text {
  padding: 15px;
}

.content-intern {
  background-color: #ffffff;
  color: #000000;
}

.wrapper-shadow {

}

h1, h2{
  font-weight: 100;
}

h3{
  font-size: 15px;
  font-weight: 100;
}

p {
  font-weight: 100;
}


}