// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 480px) {
  
body{
  font-family: 'Merriweather Sans', sans-serif;
  color: #000000;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a{
  color: #8bb900 !important;
}

#verify{
  position: relative;
  display: block;
  margin-left: 50%;
  left: -25px;
}

.modal { 
    position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0;
    margin-top: -180px;
}
.modal-body { 
    height: 60%; 
}

.modal-body { 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
 }

.navbar-inner {
  border-radius: 0px 0px 0px 0px !important;
}

.nav.pull-right {
  float: left !important;
  margin-left: -40px !important;
  margin-right: -10px;
}

.navbar .nav.pull-right > li{
  margin-left: 10px;
} 

.navbar .nav.pull-right > li > a {
  float:none;
  margin-left: -8px;
  margin-right: -8px;                               /* nav right */
} 

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
  color: #c0b9b9 !important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover{
  color: #8bb900 !important;
}

.chzn-container{
  display: block;
  width: 150px !important;
}

.ui-slider-horizontal {
    width: 150px;
    margin-left: 50%;
    left: -75px;
}

.table_block{
  position: relative;
  display: block;
}

.start_block{
  width: auto !important;
  margin-left: 50%;
  left: -80px;
}

.table-container{
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.display_none{
  display: none !important;
}

footer{
 display: none;
}

/*.reset{
margin-right: -166px;
margin-top: -30px;
float: right;
}*/

.search-table{
  background-color:#333333; 
  color:#e3e5e1;
}

.even_row {
    background-color: #cbc9c9;
}

.map_container {
  display: none;
}

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: -125px;
  width: 320px;
  margin-right: -110px;
}

.navbar .nav > li > .dropdown-menu:before {
  right: 245px !important;
}

.navbar .nav > li > .dropdown-menu:after {
  right: 245px !important;
}

#salary_slider{
  margin-top: 10px;
}

#salary_text{
  margin-top: 13px;
}

#living_costs_slider{
  margin-top: 10px;
  margin-bottom: 10px;
}

#living_costs_text{
  margin-top: 13px;
}

#intern-title{
  margin-top: 4px;
  padding-bottom: 0px;
}

#intern-box{
  margin-left: 0px;
}

.back_int{
  display: none;
}

.comp-mob{
  background: #000;
  color: #fff !important;
  padding-bottom: 5px;
}

.content-intern2 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.span8 > ul{
  margin-left: 50%;
  left: -31px;
  position: relative;
}

#form-block4{
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 100;
  margin-left: 30px !important;
  margin-top: 20px !important;
  padding: 10px 5px 30px 5px !important;
  margin-right: 30px !important;
  width: auto !important;
}

#form-block3{
  width: auto !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  padding: 20px 5px 20px 5px !important;
}

#internship_off_text{
  margin: 0px 25px 10px;
}

}