// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 480px) {
body{
  font-family: 'Merriweather Sans', sans-serif;
  color: #000000;
}

/*.navbar{
  margin-left: -20px;
  margin-right: 20px;
}*/

.navbar-inner {
  border-radius: 0px 0px 0px 0px !important;
}

.nav.pull-right {
    float: none;
    margin-left: -20px;
}

.navbar .nav.pull-right > li{
  margin-left: 10px;
} 

.navbar .nav.pull-right > li > a {
  float:none;
  margin-left: -8px;
  margin-right: -8px;                               /* nav right */
} 

.display_none{
  display: none !important;
}

.table-container
{
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

}