// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 480px) {
  
body{
  font-family: 'Merriweather Sans', sans-serif;
  color: #000000;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

a{
}

.navbar-inner {
  border-radius: 0px 0px 0px 0px !important;
}

.nav.pull-right {
  float: left !important;
  margin-left: -40px !important;
  margin-right: -10px;
}

.navbar .nav.pull-right > li{
  margin-left: 10px;
} 

.navbar .nav.pull-right > li > a {
  float:none;
  margin-left: -8px;
  margin-right: -8px;                               /* nav right */
} 

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
  color: #c0b9b9 !important;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover{
  color: #8bb900 !important;
}

.chzn-container{
  display: block;
}

.table_block{
  display: block;
  text-align: center;
  position: relative;
  margin-left: 50%;
  left: -94px;
}

.table-container{
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.display_none{
  display: none !important;
}

footer{
 display: none;
}

.reset{
margin-right: -166px;
margin-top: -30px;
float: right;
}

.search-table{
  background-color:#333333; 
  color:#e3e5e1;
}

.even_row {
    background-color: #cbc9c9;
}

}