// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-block {
  width: 700px;
  height: 450px;
  background-color: #333333;
  padding: 15px 15px 100px 30px;
  color: #ffffff;
  font-weight: 100;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}

.textlabel {
  color: #ff0000;
  text-decoration: underline;
}

