// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-block {
  width: 700px;
  height: 450px;
  background-color: #333333;
  padding: 15px 15px 100px 30px;
  color: #ffffff;
  font-weight: 100;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}

.row_margin_bottom {
  margin-bottom:16px;
}

#form-block2 {
  background-color: #333333;
  color: #FFFFFF;
  font-weight: 100;
  height: 96%;
  margin-left: 0;
  padding: 30px 5px 30px 50px;
  width: 90%;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}

#form-block3 {
  background-color: #333333;
  color: #FFFFFF;
  font-weight: 100;
  height: 96%;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 30px 5px 30px 50px;
  width: 68%;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}

#form-block4 {
  background-color: #FFFFFF;
    color: #000000;
    font-weight: 100;
    height: 96%;
    margin-bottom: 30px;
    margin-left: 130px;
    margin-top: 50px;
    padding: 30px 5px 30px 50px;
    width: 68%;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}
.textlabel {
  color: #ff0000;
  text-decoration: underline;
}

#internship_description {
  width:100%;
  height:300px;
}

.error_explanation {
  color: #ff0000;
  padding-left: 15px;
}

.line_intern {
  background-color: #80b900;
  height: 3px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.edit-rating {
  margin-left: -15px;
  margin-top: 0px; 
}
#field-titles2 {
  line-height:17px; 
  margin-bottom:15px;
}