<h1>Search Results</h1>

<% @internship_search.internships.each do |internship| %>
  <%= link_to "#{internship.orientation} at #{internship.company.name}", internship_path(internship) %><br />
<% end %>
